In [ ]:
#Carter Hardy
#BMI 6018
#Nov-4-2024

In [200]:
#%% Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [218]:
#%% Importing Data
flights_data = pd.read_csv('/Users/carterhardy/BMI 6018/data/flights.csv')
df = flights_data
df.head(10)

#%% Pandas Data Filtering/Sorting Question Answering
#use flights_data

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
5,6,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
6,7,2013,1,1,555.0,-5.0,913.0,19.0,B6,N516JB,507,EWR,FLL,158.0,1065,5.0,55.0
7,8,2013,1,1,557.0,-3.0,709.0,-14.0,EV,N829AS,5708,LGA,IAD,53.0,229,5.0,57.0
8,9,2013,1,1,557.0,-3.0,838.0,-8.0,B6,N593JB,79,JFK,MCO,140.0,944,5.0,57.0
9,10,2013,1,1,558.0,-2.0,753.0,8.0,AA,N3ALAA,301,LGA,ORD,138.0,733,5.0,58.0

In [219]:
#Question 1 How many flights were there from JFK to SLC? Int
flights_JFK_SLC = df[(df['origin'] == 'JFK') & (df['dest'] == 'SLC')]

num_flights_JFK_SLC = len(flights_JFK_SLC)

print('The number of flights from JFK to SLC in the data is', num_flights_JFK_SLC)

The number of flights from JFK to SLC in the data is 2113

In [225]:
#Question 2 How many airlines fly to SLC? Should be int
airlines_SLC = df[(df['dest'] == 'SLC')]

unique_airlines = airlines_SLC['carrier'].unique()

num_unique_airlines = len(unique_airlines)

print('The number of airlines that fly to SLC is', num_unique_airlines)

The number of airlines that fly to SLC is 2

In [204]:
#Question 3 What is the average arrival delay for flights to RDU? float
flights_RDU = df[df['dest'] == 'RDU']

ave_arrival_delay_RDU = flights_RDU['arr_delay'].mean()
print('The average arrival delay for flights to RDU is', ave_arrival_delay_RDU)

The average arrival delay for flights to RDU is 10.052380952380952

In [205]:
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float
flights_SEA = df[df['dest'] == 'SEA']
origin_NYC = flights_SEA[(flights_SEA['origin'] == 'LGA') | (flights_SEA['origin'] == 'JFK')]

print('Total flights to SEA:', len(flights_SEA))
print('Flights to SEA from the two NYC airports:', len(origin_NYC))
print(' ')

proportion_SEA = len(origin_NYC) / len(flights_SEA)
print('The proportion of flights to SEA that come from the two NYC airports is', proportion_SEA)

Total flights to SEA: 3923
Flights to SEA from the two NYC airports: 2092

The proportion of flights to SEA that come from the two NYC airports is 0.5332653581442773

In [206]:
#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])
df['date'] = df['date'].dt.strftime('%Y/%m/%d')
#df.head(10), check to see if the date looks correct

In [207]:
#Continued: Question 5
ave_departure = df.groupby('date')['dep_delay'].mean()
#ave_departure.head(10)
ave_depart_delay_date = ave_departure.idxmax()
ave_depart_delay_amount = ave_departure.max()

print('The date with the largest average departure delay is', ave_depart_delay_date)
print(ave_depart_delay_date, 'had an average departure delay of ', ave_depart_delay_amount)

The date with the largest average departure delay is 2013/03/08
2013/03/08 had an average departure delay of  83.5369211514393

In [208]:
#Question 6 Which date has the largest average arrival delay? pd slice with date and float
ave_arrival_delay = df.groupby('date')['arr_delay'].mean()
#ave_arrival_delay.head(10)
ave_arr_delay_date = ave_arrival_delay.idxmax()
ave_arr_delay_amount = ave_arrival_delay.max()

print('The data with the largest average arrival delay is', ave_arr_delay_date)
print(ave_arr_delay_date, 'had an average arrival delay of', ave_arr_delay_amount)

The data with the largest average arrival delay is 2013/03/08
2013/03/08 had an average arrival delay of 85.86215538847118

In [209]:
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime

#First, adding speed to df
df['speed'] = df['distance']/df['air_time']

#Check new speed column
#df.head(10)

In [210]:
flight_depart_NYC = df[((df['origin'] == 'LGA') | (df['origin'] == 'JFK')) & (df['year'] == 2013)]

max_speed = flight_depart_NYC['speed'].max()
max_speed_index = flight_depart_NYC['speed'].idxmax()
tailnum= flight_depart_NYC.loc[max_speed_index, 'tailnum']

print('The tail number of the flight departing from LGA or JFK in 2013 that flew the fastest is', tailnum)
print('Which had a speed of', max_speed)

The tail number of the flight departing from LGA or JFK in 2013 that flew the fastest is N666DN
Which had a speed of 11.723076923076922

In [211]:
weather_data_pd = pd.read_csv('/Users/carterhardy/BMI 6018/data/weather.csv')
weather_data_np = weather_data_pd.to_numpy()

In [212]:
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans

NaN_values = weather_data_pd.iloc[16:18]
print('As an example, we find 2 NaN values, under the pressure column:')
print(' ')
print(NaN_values['pressure'])

As an example, we find 2 NaN values, under the pressure column:

16   NaN
17   NaN
Name: pressure, dtype: float64

In [213]:
print('next we will use .fillna(0) to fill those values with 0') 
weather_data_pd = weather_data_pd.fillna(0)
same_index = weather_data_pd.iloc[16:18]
print('Using the same index, we will print the rows 16 and 17 and show that the NaN values have been changed to 0')
print(' ')
print(same_index['pressure'])

next we will use .fillna(0) to fill those values with 0
Using the same index, we will print the rows 16 and 17 and show that the NaN values have been changed to 0

16    0.0
17    0.0
Name: pressure, dtype: float64

In [214]:
#Use weather_data_np
#Question 9 How many observations were made in Feburary? Int
feb = weather_data_np[weather_data_np[:, 3] == 2]

num_observations = feb.shape[0]

print('There were', num_observations ,'observations made in Feburary')

#type(num_observations)

There were 671 observations made in Feburary

In [215]:
#Question 10 What was the mean for humidity in February? Float
humidity_mean = np.mean(feb[:, 8])
print('The mean humidity in February was', humidity_mean )

#type(humidity_mean)

The mean humidity in February was 62.918152011922515

In [216]:
#Question 11 What was the std for humidity in February? Float
std_humid_feb = np.std(feb[:, 8])

print('The standard deviation for humidity in February was', std_humid_feb)
#type(std_humid_feb)

The standard deviation for humidity in February was 20.33690087674334