In [5]:
"""BMI 6018 Fall 2022 

Instructions: For this assignment, please return all answers as variables in your
.py file. You will quickly note that you will need to find answers outside the
class lectures. This is not an accident! You will need to become professionally
comfortable with looking things up via the python docs and google. 

Ensure that all variables are labelled according to the example. IE the answer
to problem 1 part c should be labelled one_c. While all questions are answerable
with a single line of code, you are free to use helper variables so long as they
are helpfully/informatively named. 

I should be able to open your .py file and run it without errors. I will **not** be 
debugging your code for you. If your file does not run, it will **not** be graded. 
If you are unsure if your file will run, open up a chpc terminal and test it there.

For this assignment, please only use base python files types. That is: there 
should be no import calls in your file save my use of sys at the end.

Example Problem

0.a Create a list of strings
0.b Using a str method, capitalize one of the elements in the list using a slice
0.c Coerce one character of the list to display as a hex

zero_a = ['first','second','third','fourth','fifth']
zero_b = zero_a[1].upper()
zero_c = hex(ord(zero_a[1][1]))

#Problem 1: Lists, Sets and Coersion

1.a Create a list of integers no fewer than 10 items from 0 to 9.
 .b Add 3 to the 5th indexed element
 .c Coerce all elements in the list to floats using list comprehension
 .d Coerce the list to a set
 .e Using a method, append int 10 to the set
 .f Using a method, pop an item from the set
 .g Using a length counting function, count the number of items in the set
 .h Check if the number of items in the set is the same as the 
    number of items in the list
 .i Coerce the set to a list and use the "+" operator combine the list to the list from 1.a
 .j Coerce 1.i to a set
 .k Count the number of elements in the 1.j



Problem 2: Dictionary woes

2.a Combine the three sample dictionaries (given below) into a nested dictionary (nested in programming means joined), named 
    two_a, ensure the key names are the same as the dictionary names.
 .b Using keys, retrieve the Dango's name from 2.a
 .c Using keys, update the value of Mochi's year to 2018. This should not be a variable
    and should simply update 2.a.
 .d Manually create a dictionary that has a single level and contains each patient
    as the key and the year as the value. Set Mochi's year to 2019.'
 .e Coerce the keys of 2.d into a list
 .f Coerce the values of 2.d into a list
 .g Use the zip function to combine 2.e and 2.f into a dictionary again


two_patient_dictionary_kinoko = {
  "name" : "Kinoko",
  "year" : 2021
}
two_patient_dictionary_dango = {
  "name" : "Dango",
  "year" : 2019
}
two_patient_dictionary_mochi  = {
  "name" : "Mochi",
  "year" : 2020
}



Problem 3: Set combinations

Given the predefined sets below and using set methods
3.a Is set E a subset of set A
 .b Is set E a strict subset of set A
 .c Create a set that is the intersection of set A and set B
 .d Create a set that is the union of sets C, D and E
 .e add 9 to the set
 .f Using == compare this set to the list in one_a
 .g Explain why they are not the same. What would you need to change if you
    wanted this to be True?
 

three_setA = {1,2,3,4,5}
three_setB = {2,3,4,5,6}
three_setC = {3,5,7,9}
three_setD = {2,4,6,8}
three_setE = {1,2,3,4}



Problem 4: Changing variable types

For each step you will modify a variable, then append the type of the variable
to a list. Do not recreate the list variable, it should be a running list of 
types.

4.a Create a variable of type int with the value of 8
 .b Create an empty list 
 .c Using type(), add the type of 4.a to this list
 .d Add 0.39 to 4.c
 .e append the type of 0.39 to the list
 .f exponentiate to the -10, ie: 4.d^-10,(hint: there might be an artihmetic operator to do so) round it to no 
    decimal places, and append to list.
 .g append the type to the list
 
 
Problem 5: More variable type changes

Continue from where you left off in Problem 4.

5.a Manually create a dictionary where the values are items in the list from where we left in 
    problem 4, and the keys should be their index in the list. Print the dictionary.
 .b Add 300 and coerce it into a string
 .c append the type to the list
 .d slice the string up to the 2nd element
 .e append the type to the list
 .f use list comprehension to convert this into a new list of integers
 .g append the type to the list
 .h append the type of three_setA to the list
"""

#Start your assignment here
print("Assignment 3")

Assignment 3

In [ ]:
#Question 1

In [1]:
one_a = [0,1,2,3,4,5,6,7,8,9]
#My list of integers 0-9
print(one_a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
one_b = [one_a[5]+3]
#adding 3 to the 5th indexed number, 5, to get 8
print(one_b)

[8]

In [3]:
one_c = [float(x) for x in one_a]
#changing the list of integers to floats
print(one_c)

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [4]:
one_d = set(one_a)
#changing the list to a set
print(one_d)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
one_e = one_d.add(10)
#appending 10 to the set
print(one_d)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
one_f = one_d.pop()
#popping one value from the set, from my understanding pop does a random value in the set
print(one_d)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
one_g = print(len(one_d))
#the length of the set is 10

10

In [9]:
one_h = print(len(one_d)==len(one_a))
#the lengeth of the set and the list are the same

True

In [10]:
one_i = list(one_d) + one_a
#I changed the set to a list and then add them together, creating a new list one_i
print(one_i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
one_j = set(one_i)
#I changed the new list one_i to a set, one_j, there are no duplicate values like there are in sets
print(one_j)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
one_k = print(len(one_j))
#as mentioned, because there are no duplicate values in a set, we only have the integers from 0-10 in the set

11

In [13]:
#Question 2
two_patient_dictionary_kinoko = {
  "name" : "Kinoko",
  "year" : 2021
}
two_patient_dictionary_dango = {
  "name" : "Dango",
  "year" : 2019
}
two_patient_dictionary_mochi  = {
  "name" : "Mochi",
  "year" : 2020
}

In [14]:
two_a = {"two_patient_dictionary_kinoko":two_patient_dictionary_kinoko,
        "two_patient_dictionary_dango":two_patient_dictionary_dango,
        "two_patient_dictionary_mochi":two_patient_dictionary_mochi}
print(two_a)
#two_a is a nested dictionaries, dictionaries within another dictionary. There are 3 dictionaries in two_a

{'two_patient_dictionary_kinoko': {'name': 'Kinoko', 'year': 2021}, 'two_patient_dictionary_dango': {'name': 'Dango', 'year': 2019}, 'two_patient_dictionary_mochi': {'name': 'Mochi', 'year': 2020}}

In [15]:
two_b = two_a["two_patient_dictionary_dango"]["name"]
#two_b finds the dango dictionary and then finds the name within the dictionary.
print(two_b)

Dango

In [16]:
#two_c
#the instructions state that 2c should not be a variable and simply update 2a
two_a["two_patient_dictionary_mochi"]["year"] = 2018
#this updates the dictionary 2a and the dictionary containing Mochi's info to the year 2018 
print(two_a)

{'two_patient_dictionary_kinoko': {'name': 'Kinoko', 'year': 2021}, 'two_patient_dictionary_dango': {'name': 'Dango', 'year': 2019}, 'two_patient_dictionary_mochi': {'name': 'Mochi', 'year': 2018}}

In [17]:
two_d = {"Kinoko":2021, "Dango":2019, "Mochi":2019}
#new dictionary was manually created, Mochi's year was set to 2019
print(two_d)

{'Kinoko': 2021, 'Dango': 2019, 'Mochi': 2019}

In [18]:
two_e = list(two_d.keys())
#This puts the keys in the dictionary two_d into a list
print(two_e)

['Kinoko', 'Dango', 'Mochi']

In [19]:
two_f = list(two_d.values())
#This puts the values in the dictionary two_d into a list
print(two_f)

[2021, 2019, 2019]

In [20]:
two_g = dict(zip(two_e, two_f))
#The zip and dict function combines the 2 lists together again and makes it a dictionary
print(two_g)

{'Kinoko': 2021, 'Dango': 2019, 'Mochi': 2019}

In [21]:
#Question 3
three_setA = {1,2,3,4,5}
three_setB = {2,3,4,5,6}
three_setC = {3,5,7,9}
three_setD = {2,4,6,8}
three_setE = {1,2,3,4}

In [22]:
three_a = print(three_setE.issubset(three_setA))
#set E is a subset of set A

True

In [23]:
three_b = print((three_setE.issubset(three_setA)) and three_setE != three_setA)
#Because we know that E is a subset of A, we need to see if they are equal to each other, if they are not equal
#then we know that E is a strict subset of A. Showing us that all of the elements of set E are within set A.

True

In [24]:
three_c = three_setA.intersection(three_setB)
#.intersection() creates an intersection between the 2 sets
print(three_c)

{2, 3, 4, 5}

In [25]:
three_d = three_setC.union(three_setD, three_setE)
print(three_d)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [26]:
#the question was not specific to which set to add 9 to. I am assuming I am adding 9 to the most recently made
#set, three_d.
three_e = three_d.add(9)
print(three_d)
#This is updating the set three_d with a 9, however, because the set three_d already has a 9 in it and since 
#sets do not have duplicate numbers, nothing in the set is changing.

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
three_f = print(three_d == one_a)
#comparing to see if they are equal, 3g explains why

False

In [29]:
three_g = print("If we print out the set three_d and the list one_a,", three_d, one_a,", we would first see that they are not equal because the list one_a has the integer 0 included in it. In addition to that, they are not equal because three_d is a set and one_a is a list, so they would not be equal. If I wanted them to be equal I would need to remove the 0 from list one_a and then coerce one_a into a set OR coerce set three_d into a list" )

If we print out the set three_d and the list one_a, {1, 2, 3, 4, 5, 6, 7, 8, 9} [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] , we would first see that they are not equal because the list one_a has the integer 0 included in it. In addition to that, they are not equal because three_d is a set and one_a is a list, so they would not be equal. If I wanted them to be equal I would need to remove the 0 from list one_a and then coerce one_a into a set OR coerce set three_d into a list

In [ ]:
#Question 4: Changing variable types

#For each step you will modify a variable, then append the type of the variable
#to a list. Do not recreate the list variable, it should be a running list of 
#types.

#Due to these instruction I will not be making a new variable for each question

In [30]:
four_a = 8
print(four_a)
#4a is the integer 8

8

In [31]:
four_b = []
print(four_b)
#4b is an empty list

[]

In [32]:
#4c
four_b.append(type(four_a))
print(four_b)
#added the type of 4a to 4b

[<class 'int'>]

In [33]:
#4d
four_b.append(.39)
print(four_b)
#add .39 to 4c

[<class 'int'>, 0.39]

In [34]:
#4e
four_b.append(type(.39))
print(four_b)
#append the type of .39 to the list

[<class 'int'>, 0.39, <class 'float'>]

In [35]:
#4f
four_b.append(round(0.39**-10))
print(four_b)
#add the .39^-10 rounded to the list

[<class 'int'>, 0.39, <class 'float'>, 12284]

In [36]:
#4g
four_b.append(type(round(0.39**-10)))
print(four_b)
#add the type of 4f to the list

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>]

In [248]:
#Question 5

In [37]:
#5a
five_a = {four_a:four_b}
print(five_a)
#create dictionary by combining 4a and the list

{8: [<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>]}

In [38]:
#5b
five_b = "300"
#From my understanding, I need to add 300 as a string to the list we were using in Question 4, the list four_b
#I find the intruction of this question confusing and I am doing the best based on what I believe it is asking.
four_b.append(five_b)
print(four_b)

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300']

In [39]:
#5c
four_b.append(type(five_b))
print(four_b)
#add the type to the list

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300', <class 'str'>]

In [40]:
#5d
five_d = five_b[:2]
print(five_b)
#Slicing the string "300" to the 2nd element, which is 300.

300

In [41]:
#5e
four_b.append(type(five_d))
print(four_b)
#append type to the list

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300', <class 'str'>, <class 'str'>]

In [42]:
#5f
five_f = [x for x in four_b if type(x) == int]
print(five_f)
#made a list of all the integers

[12284]

In [43]:
#5g
four_b.append(type(five_f))
print(four_b)
#append time to the list

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300', <class 'str'>, <class 'str'>, <class 'list'>]

In [44]:
#5h
four_b.append(type(three_setA))
print(four_b)
#append the type of setA from question 3 to the list

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300', <class 'str'>, <class 'str'>, <class 'list'>, <class 'set'>]