In [ ]:
#Carter Hardy
#Oct-28-2024

In [2]:
#Question 1
#Import numpy as np and print the version number.
import numpy as np
print("Version Number:", np.__version__)

Version Number: 1.21.5

In [3]:
#Question 2
#Create a 1D array of numbers from 0 to 9
np.arange(0,10,1)

#This is creating an array from 0 to 10 going in increments of 1, thus going from 0 to 9.

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [26]:
#Question 3
#Import a dataset with numbers and texts keeping the text intact in python numpy.
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

data = np.genfromtxt(url, delimiter = ",", dtype = [('sepal length', 'f8'),
                                                    ('sepal width', 'f8'),
                                                    ('petal length', 'f8'),
                                                    ('petal width', 'f8'),
                                                    ('species', 'U15')])
print('Test print of the first five rows to check it worked:')
print(data[:5])

#I went to the UCI website to find the information about the column headers at this link
#https://archive.ics.uci.edu/dataset/53/iris

Test print of the first five rows to check it worked:
[(5.1, 3.5, 1.4, 0.2, 'Iris-setosa') (4.9, 3. , 1.4, 0.2, 'Iris-setosa')
 (4.7, 3.2, 1.3, 0.2, 'Iris-setosa') (4.6, 3.1, 1.5, 0.2, 'Iris-setosa')
 (5. , 3.6, 1.4, 0.2, 'Iris-setosa')]

In [15]:
#Question 4
#Find the position of the first occurrence of a value greater than 1.0 in petalwidth 4th column of iris dataset.

petalwidth_gt_1 = data[data['petal_width'] > 1.0]

print("The first occurrence of a value greater than 1.0 in petalwidth 4th column is:")
print(" ")
print(petalwidth_gt_1[:1])

#This is using Boolean masking to find when it is "True" that petal_width is greater than 1, then I am printing 
#out the first occurence of it happening.

The first occurrence of a value greater than 1.0 in petalwidth 4th column is:

[(7., 3.2, 4.7, 1.4, 'Iris-versicolor')]

In [27]:
#Question 5
#From the array a, replace all values greater than 30 to 30 and less than 10 to 10.

#input
np.random.seed(100)
a = np.random.uniform(1,50, 20)

a[a < 10] = 10.0
a[a > 30] = 30.0

print('The array a, with all values greater than 30 set to 30 and less than 10 set to 10:')
print(' ')
print(a)

#This is using Boolean masking, finding when it is "True" that a is less than 10 or greater than 30 and setting 
#the value equal to 10 or 30 respectively.

The array a, with all values greater than 30 set to 30 and less than 10 set to 10:

[27.62684215 14.64009987 21.80136195 30.         10.         10.
 30.         30.         10.         29.17957314 30.         11.25090398
 10.08108276 10.         11.76517714 30.         30.         10.
 30.         14.42961361]