In [ ]:
#Carter Hardy
#BMI 6018
#Nov-4-2024

In [2]:
import pandas as pd
import numpy as np

In [3]:
#Question 1
#Compute the euclidean distance between series (points) p and q, without using a packaged formula
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [9]:
d = np.sqrt(np.sum(np.square(p - q)))

In [10]:
d

18.16590212458495

In [11]:
#Question 2
#Change the order of columns of a dataframe. Interchange columns 'a' and 'c'
#input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

df = df.reindex(['c','b','a','d','e'], axis = 1)
df

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [ ]:
#Question 3
#Change the order of columns of a dataframe. Create a generic function to interchange two columns, without
#hardcoding column names

In [65]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [63]:
def swap_column(df, col1, col2):
    col_list = list(df.columns)
    idx1, idx2 = col_list.index(col1), col_list.index(col2)
    col_list[idx1], col_list[idx2] = col_list[idx2], col_list[idx1]
    return df[col_list]

df_swapped = swap_column(df, 'a', 'c')
print(df_swapped)

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [13]:
#Question 4
#Format or suppress scientific notations in a pandas dataframe. Suppress scientific notations like ‘e-03’ in df and
#print upto 4 numbers after decimal.

In [35]:
pd.reset_option('display.float_format')
#this was added in case the format stayed the same from earlier, to ensure that it would be reset and set again.

In [36]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df

         random
0  1.658870e-03
1  1.590553e-06
2  8.083319e-07
3  1.675534e-01

In [37]:
pd.set_option('display.float_format', '{:.4f}'.format)
df

   random
0  0.0017
1  0.0000
2  0.0000
3  0.1676

In [ ]:
#Question 5
#Create a new column that contains the row number of nearest column by euclidean distance. Create a new column
#such that, each row contains the row number of nearest row-record by euclidean distance

In [180]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1),
columns=list('pqrs'), index=list('abcdefghij'))
df

    p   q   r   s
a  31  75  50  34
b  98  26  33  76
c  39  66  17  11
d  71  10  22  66
e  74  96  47  28
f  92  52  19  18
g  24  21  96  31
h  94  61  80  70
i  78  50  73  47
j  81  17  32   2

In [181]:
near_row = []
near_dist = []

for i_index, i_row in df.iterrows():
    min_dist = np.inf
    nearest_index = -1
    for j_index, j_row in df.iterrows():
        if i_index != j_index:
            e_dist =  np.sqrt(np.sum(np.square(i_row - j_row)))
            
            if e_dist < min_dist:
                min_dist = e_dist
                nearest_index = j_index
    near_row.append(nearest_index)
    near_dist.append(min_dist)

df['nearest_row'] = near_row
df['dist'] = near_dist
df

    p   q   r   s nearest_row    dist
a  31  75  50  34           c 41.9881
b  98  26  33  76           d 34.7275
c  39  66  17  11           a 41.9881
d  71  10  22  66           b 34.7275
e  74  96  47  28           a 48.3218
f  92  52  19  18           j 42.0833
g  24  21  96  31           i 67.3944
h  94  61  80  70           i 30.9031
i  78  50  73  47           h 30.9031
j  81  17  32   2           f 42.0833

In [ ]:
#Question 6
#Correlation is a statistical technique that shows how two variables are related. Pandas dataframe.corr() method is
#used for creating the correlation matrix. It is used to find the pairwise correlation of all columns in the 
#dataframe. Any na values are automatically excluded. For any non-numeric data type columns in the dataframe it is 
#ignored.

In [104]:
data = {'A': [45, 37, 0, 42, 50],
'B': [38, 31, 1, 26, 90],
'C': [10, 15, -10, 17, 100],
'D': [60, 99, 15, 23, 56],
'E': [76, 98, -0.03, 78, 90]
}

df = pd.DataFrame(data)
correlation_matrix = df.corr()

print(correlation_matrix)

       A      B      C      D      E
A 1.0000 0.7560 0.6244 0.4938 0.9286
B 0.7560 1.0000 0.9667 0.3636 0.6496
C 0.6244 0.9667 1.0000 0.2189 0.5281
D 0.4938 0.3636 0.2189 1.0000 0.7202
E 0.9286 0.6496 0.5281 0.7202 1.0000